

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Reservation System</title>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <section id="contact" style="margin-top: 5%;">
        <div class="container-lg">
            <div class="text-center">
                <ul>
                    <% if(typeof(errors)!='undefined'){ %>
                        <% errors.forEach(error=>{ %>
                        <li><h3><%= error.message %></h3></li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="text-center">
                <% if(typeof(message)!=undefined){ %>
                    <h2><%= message %></h2>
                <% } %>
            </div>
            <div class="text-center">
                <h2>User Sign Up</h2>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-lg-6">
                    <form action="/signup" method="POST">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" name="username">
                        <br>
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="text" name="email">
                        <br>
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password">
                        <br>
                        <label class="form-label" for="cpassword">Confirm Password</label>
                        <input class="form-control" type="password" name="cpassword">
                        <br>
                        <label class="form-label" for="phone">Mobile Number</label>
                        <input class="form-control" type="number" name="phone">
                        <br>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    


<%- include('partials/foot.ejs') %>
</body>
</html>


