<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Reservation System</title>
    <%- include('partials/header.ejs') %>
</head>
<body>
    

    <%- include('partials/nav1.ejs') %>

<div class="container-lg" style="margin-top: 5%;">
    <div class="text-center">
        <h2>Your Booked Tickets</h2>
    </div>
    <table class="table" style="margin-top: 2%;">
        <tr>
            <th>Flight Id</th>
            <th>Name of Passenger</th>
            <th>Seat Number</th>
            <th>Class</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Ticket Price</th>
            <th>Cancel</th>
        </tr>
        <form action="/cancelbooking" method="POST">
        <% for(var i=0;i<journey.length;i++){ %>
        <tr>
            <td><%= flight[i][0].flight_id %></td>
            <td><%= journey[i].nameofpassenger %></td>
            <td><%= journey[i].seat_no %></td>
            <td><%= journey[i].seatclass %></td>
            <td><%= flight[i][0].source %></td>
            <td><%= flight[i][0].destination %></td>
            <td><%= flight[i][0].date %></td>
            <td><%= flight[i][0].arrivaltime %></td>
            <td><%= flight[i][0].departuretime %></td>
            <td><%= flight[i][0].price %></td>
            <% var d = new Date().toISOString().slice(0,10) %>
            <% if(flight[i][0].date > d){ %>
            <td><button class="btn btn-info" id="<%= journey[i]._id %>"  onclick="funct(this.id)" value="<%= journey[i]._id %>" type="submit">Cancel</button></td>
            <script>
            function funct(clicked_id){
                document.getElementById(clicked_id).name = 'journeyid';
                
            }
            </script>
            <% }else{ %>
                <td>Cannot be cancelled</td>
            <% } %>
        </tr>
        <% } %>
    </form>
    </table>

</div>



<%- include('partials/foot.ejs') %>
</body>
</html>
 
